<div>
    <h1>Tu perfil</h1>
    <p>Nombre y apellido: {{user.full_name}}</p>
    <p>Mail: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>