<div>
    <h1>Registro</h1>
    <form id="registerForm">

        <label>Nombre</label>
        <input name="first_name" type="text">
        <br>

        <label>Apellido</label>
        <input name="last_name" type="text">
        <br>

        <label>Email</label>
        <input name="email" type="email">
        <br>

        <label>Edad</label>
        <input name="age" type="number">
        <br>

        <label>Contraseña</label>
        <input name="password" type="password" pattern=".{6,13}" title="La contraseña debe tener entre 6 y 13 caracteres" placeholder="Mínimo 6 caracteres">   
        <br>
        <input type="submit">
    </form>
    
    <p>¿Ya tienes cuenta? <a href="/login">Ingresa aquí</a> </p>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>