*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 54, 54);
    font: 400 16px/1.5 'Roboto', sans-serif;
    color: #d1d3d6;
    margin: 60px 20px 60px 20px;
}

.main {
    margin-top: 60px;
}

.contenedor_realtime, .product-card-container, nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div1, .div2, form#addProductForm {
    width: 45%;
}

form#addProductForm {
    flex-direction: column;
    justify-content:right;
    gap: 5px;
    margin: 0;
}

form#addProductForm label {
    font-weight: bold;
}

form#addProductForm input, form#addProductForm button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form#addProductForm button {
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.navPage {
    padding-top: 50px;
}

a:-webkit-any-link {
    color: rgb(207, 155, 250);
    font: 550 1.1rem;
    text-decoration: none;
}

.product-card {
    flex: 0 0 30%;
    min-width: 200px;
    max-width: 400px;
    margin: 1em;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
    border: 2px solid #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.product-card > :last-child {
    margin-top: auto;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

.product-description, .product-stock, .product-price, .add-to-cart-button, input[type=submit] {
    margin-top: 10px;
}

.add-to-cart-button, button, input[type=submit] {
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(54, 54, 54);
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: #fff; /* Cambia esto a un color que contraste con el fondo */
    padding: 0px;
}

a:hover {
    background-color: #333;
    color: #fff;
}

ul.product-list li {
    display: block;
}

.nav-toggle {
    width: 25px;
    height: 20px;
    display: none;
    cursor: pointer;
}

.nav-toggle .hamburger {
    width: 30px;
    height: 2px;
    background-color: #333;
    position: relative;
}

.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.nav-toggle .hamburger::before {
    transform: translateY(-10px);
}

.nav-toggle .hamburger::after {
    transform: translateY(10px);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #007BFF;
}

.product-list-real {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #007BFF;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.product-list-real button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.product-list-real .product-info-real {
    flex-grow: 1;
    text-align: left;
}

.delete-product-real {
    background-color: #dc3545;
    color: white;
    align-self: center;
}

@media (max-width: 600px) {
    .div1, .div2 {
        width: 100%;
    }

    nav {
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #a0a19c;
    }

    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu li {
        display: block;
    }
}

.nav-menu.active {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgb(54, 54, 54);
    z-index: 101;
    border: 1px solid #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
}